*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

html {
  height: 100%;
  font-size: 62.5%;
  /* 1rem = 10px */
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-y: auto;
}

img,
picture,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  color: inherit;
  text-decoration: none;
}

.zymo-page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 var(--padding-container);
}

.d-none {
  display: none !important;
}

.zymo-container-overflow {
  padding-bottom: 4rem;
  /* for firefox */
  scrollbar-color: var(--color-green) var(--color-light-grey);
}

@media screen and (max-width: 749px) {
  .zymo-container-overflow::-webkit-scrollbar {
    padding-bottom: 3.2rem;
  }
}

.zymo-container-overflow::-webkit-scrollbar {
  height: 0.5rem;
}

.zymo-container-overflow::-webkit-scrollbar-track {
  background-color: var(--color-light-grey);
}

.zymo-container-overflow::-webkit-scrollbar-thumb {
  background-color: var(--color-green);
}

[reveal] {
  opacity: 0.01;
  position: relative;
  transform: translateY(5rem);
  transition: all 0.4s ease-in-out;
}

[reveal][revealed] {
  opacity: 1;
  transform: translateY(0);
}

.spinner {
  width: 8rem;
  height: 8rem;
  border: 0.5rem solid var(--color-green);
  border-color: transparent var(--color-green) transparent var(--color-green);
  border-radius: 50%;
  animation: loader 1s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}