
h1, .zymo-heading--1 {
  font-family: var(--font-heading);
  font-size: 3.6rem;
  line-height: 1.1;
}

@media screen and (min-width: 750px){
  h1, .zymo-heading--1 {
    font-size: 4.8rem;
  }
}

h2, .zymo-heading--2 {
  font-family: var(--font-heading);
  font-size: 3rem;
  line-height: 1.2;
  font-weight: var(--font-normal);
}

@media screen and (min-width: 750px){
  h2, .zymo-heading--2 {
    font-size: 3.6rem;
  }
}

h3, .zymo-heading--3 {
  font-family: var(--font-heading);
  font-size: 2.4rem;
  line-height: normal;
}

@media screen and (min-width: 750px){
  h3, .zymo-heading--3 {
    font-size: 3rem;
  }
}

h4, .zymo-heading--4 {
  font-family: var(--font-heading);
  font-size: 2rem;
  line-height: normal;
  font-weight: var(--font-normal);
}

@media screen and (min-width: 750px){
  h4, .zymo-heading--4 {
    font-size: 2.4rem;
  }
}

h5, .zymo-heading--5 {
  font-family: var(--font-heading);
  font-size: 1.8rem;
  line-height: normal;
  font-weight: var(--font-normal);
}

@media screen and (min-width: 750px){
  h5, .zymo-heading--5 {
    font-size: 2rem;
  }
}

h6, .zymo-heading--6 {
  font-family: var(--font-heading);
  font-size: 1.6rem;
  line-height: normal;
  font-weight: var(--font-normal);
}

@media screen and (min-width: 750px){
  h6, .zymo-heading--6 {
    font-size: 1.8rem;
  }
}

.zymo-body-text {
  font-family: var(--font-body);
  font-size: 1.6rem;
  line-height: 1.5;
}