.zymo-cards {
  padding: 8rem 0;
  background: var(--color-light-grey-2);
}

.zymo-cards__list {
  display: flex;
  overflow-y: auto;
}

.zymo-cards__item {
  width: 25%;
}

@media screen and (max-width: 749px) {
  .zymo-cards__item {
    min-width: 28rem;
  }
}

.zymo-cards__item:not(:last-child) {
  margin-right: 2rem;
}

