.zymo-cards {
  padding: 8rem 0;
  background: var(--color-light-grey-2);
}

.zymo-cards__list {
  display: flex;
  overflow-y: auto;
}

.zymo-cards__item {
  --mr: 2rem;
  min-width: 28rem;
}

@media screen and (min-width: 750px) {
  .zymo-cards__item {
    min-width: calc(75% - var(--mr));
  }
}

@media screen and (min-width: 992px) {
  .zymo-cards__item {
    min-width: calc(30% - var(--mr));
  }
}

@media screen and (min-width: 1200px) {
  .zymo-cards__item {
    min-width: calc(25% - var(--mr));
  }
}

.zymo-cards__item:not(:last-child) {
  margin-right: var(--mr);
}

